on: [push, pull_request]
name: Linux

jobs:
  list:
    name: list available perl versions
    runs-on: 'ubuntu-latest'
    steps:
      - uses: shogo82148/actions-setup-perl@v1
      - id: set-matrix
        name: list available perl versions
        shell: perl {0}
        run: |
          use Actions::Core;
          set_output(matrix => {perl => [grep { $_ !~ /^5\.(6|8|10)/ } perl_versions()]});
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build:
    runs-on: 'ubuntu-latest'
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    name: Perl ${{ matrix.perl }}
    steps:
      - name: check out code
        uses: actions/checkout@v6

      - name: switch to perl ${{ matrix.perl }}
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}

      - name: run tests
        env:
          PERL_USE_UNSAFE_INC: 0
        run: |
            perl -v
            cpanm ExtUtils::MakeMaker Test::Pod Test::Pod::Coverage || cat /home/runner/.cpanm/work/*/build.log
            perl -Mparent -e0 || cpanm parent
            rm -rf /home/runner/.cpanm/work/*
            cpanm --installdeps . || cat /home/runner/.cpanm/work/*/build.log
            cpanm Unknown::Values
            perl Makefile.PL
            make test TEST_VERBOSE=1

  build_with_unknown_values:
    runs-on: 'ubuntu-latest'
    name: with Unknown::Values installed
    steps:
      - name: check out code
        uses: actions/checkout@v6

      - name: switch to perl 5.30
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: "5.30"

      - name: run tests
        env:
          PERL_USE_UNSAFE_INC: 0
        run: |
            perl -v
            cpanm ExtUtils::MakeMaker Test::Pod Test::Pod::Coverage Unknown::Values || cat /home/runner/.cpanm/work/*/build.log
            rm -rf /home/runner/.cpanm/work/*
            cpanm --installdeps . || cat /home/runner/.cpanm/work/*/build.log
            perl Makefile.PL
            make test TEST_VERBOSE=1

  build_with_bool_supporting_perl_old_DD:
    runs-on: 'ubuntu-latest'
    name: New perl with bools, old Data::Dumper
    steps:
      - uses: actions/checkout@v6
      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: 5.38
      - name: run tests
        env:
          PERL_USE_UNSAFE_INC: 0
        run: |
            perl -v
            cpanm ExtUtils::MakeMaker Test::Pod Test::Pod::Coverage || cat /home/runner/.cpanm/work/*/build.log
            perl -Mparent -e0 || cpanm parent
            rm -rf /home/runner/.cpanm/work/*
            cpanm --installdeps . || cat /home/runner/.cpanm/work/*/build.log
            cpanm Data::Dumper@2.183
            perl Makefile.PL
            make test TEST_VERBOSE=1

